@model IList<RookieShopLite.ViewModel.ProductViewModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "ProductView";
}

<div class="content-section">
    <div class="container">
        @foreach (var product in Model)
        {
            <div class="row">
                <div class="col-md-8">
                    <div class="product-image w3-content w3-display-container">
                        @foreach (var image in product.images)
                        {
                            <img class="mySlides" src="@image" alt="">
                        }
                        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                    </div> <!-- /.product-image -->
                    <div class="product-information">
                        <h2>@product.ProductName</h2>
                        <p>@product.ProductFullDescription</p>
                        @if (product.ProductPriceBefore != 0)
                        {
                            <p class="product-infos">
                                <span>Price Discounted: $@product.ProductPriceNow</span>
                                <span class="old-price">Original Price: <strike>$@product.ProductPriceBefore</strike></span>
                            </p>
                        }
                        else
                        {
                            <p class="product-infos">
                                <span>Price: $@product.ProductPriceNow</span>
                            </p>
                        }
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            <ul class="product-buttons">
                                <li>
                                    <a asp-area="Identity" asp-page="/Account/Login" class="main-btn">AddToCart</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <form method="post" class="form-inline" asp-route-id="@product.Id" asp-controller="Cart" asp-action="AddToCart">
                                <button type="submit" class="btn btn-primary btn-lg">Add to Cart</button>
                            </form>
                        }

                        <div class="blog-comments-section">
                            <div id="disqus_thread"></div>
                            <script>

                                (function () {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
                                    var d = document, s = d.createElement('script');

                                    // IMPORTANT: Replace 3wmthemes with your forum shortname!
                                    s.src = 'https://3wmthemes.disqus.com/embed.js';

                                    s.setAttribute('data-timestamp', +new Date());
                                    (d.head || d.body).appendChild(s);
                                })();</script>
                            <noscript>
                                Please enable JavaScript to view the
                                <a href="https://disqus.com/?ref_noscript" rel="nofollow">
                                    comments powered by Disqus.
                                </a>
                            </noscript>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-8">
                    @foreach (var rating in product.Ratings)
                    {

                        <div>
                            <span>Rating: @rating.Rating</span>
                        </div>
                        <div>
                            <span><b>@rating.UserName</b></span>
                        </div>
                        <div>
                            <span>@rating.Content</span>
                        </div>
                        <hr />


                    }
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-controller="Home" asp-action="ProductView" method="post">
                            <div class="row">
                                <b class="col-md-6 col-sm-8">Choose your rating: </b>
                                <input hidden value="@product.Id" name="ProductId" /> <br />
                                <input class="col-md-5 col-sm-8" name="RatingNumber" type="number" />
                            </div>
                            <br />
                            <textarea class="btn-block" name="Content" placeholder="Please give me some real reviews!"></textarea>

                            <button type="submit" class="btn btn-primary btn-lg btn-block">Post</button>
                        </form>
                    }
                    else
                    {
                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary btn-lg btn-block">Login to Rate</a>
                    }
                </div> 
            </div>
        }
    </div> 
</div> 

<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>